.button {
  width: max-content;
  padding: 16px 24px;
  border: 1px solid $primary;

  border-radius: 16px;

  background-color: $secondary;
  color: $white;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--advice {
    margin: 0 auto;
    display: flex;
    background-color: $primary;
  }

  &--help {
    @media (min-width: $tablet) {
      width: 50%;
    }
  }

  &--search {
    border: 1px solid $secondary;
    background-color: $primary;

    @media (min-width: $tablet) {
      width: 100%;
    }
  }

  &--animals {
    border: 1px solid $secondary;
    background-color: $primary;
  }

  &--help-list {
    width: 100%;
  }

  &--contact-form {
    flex-grow: 1;

    @media (min-width: $tablet) {
      min-width: 600px;
    }
  }
}
