.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 16px 24px;
  border: 1px solid $primary;

  border-radius: 16px;

  background-color: $secondary;
  color: $white;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--advice {
    margin: 0 auto;
    display: flex;
    border: 3px solid $secondary;
  }

  &--help {
    @media (min-width: $tablet) {
      width: 50%;
    }
  }

  &--search {
    border: 1px solid $secondary;

    @media (min-width: $tablet) {
      width: 100%;
    }
  }

  &--animals {
    border: 1px solid $secondary;
  }

  &--help-list {
    width: 100%;
    border: 3px solid $white;
  }

  &--contact-form {
    flex-grow: 1;
    border: 3px solid $white;

    @media (min-width: $tablet) {
      min-width: 600px;
    }
  }

  &--to-home {
    border: none;
    color: $secondary;
    background-color: $white;
    padding: 8px 12px;
  }

  &--to-animals {
    border: none;
    padding: 8px 12px;
  }
}
