.animals-list {
  @include container($paddingY: 0);
  display: flex;
  justify-content: center;
  gap: 32px;

  overflow-x: scroll;
  scroll-behavior: smooth;

  @media (min-width: $large) {
    justify-content: center;
    scrollbar-width: none;
  }
}

.animal__choice:nth-child(2) {
  display: none;
}

.animals__more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0 64px;

  &:last-of-type {
    padding: 32px 0;
  }
}
