.about {
  @include container();

  text-align: center;

  &__description {
    padding: 32px 0;

    font-size: clamp($text-sm, 2.5vw, 36px);
  }

  &__info {
    padding: 0 16px;
    overflow: hidden;
  }

  &__info-list {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    padding: 48px 16px;
    max-width: $tablet;

    gap: 32px;

    border-radius: $main-border-radius;

    color: $white;
    background-color: $secondary;

    &--item {
      position: relative;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;

      font-size: clamp(48px, 2vw, 80px);

      span {
        width: 100%;

        font-size: clamp(18px, 3vw, 48px);
      }

      &:not(:last-of-type):before {
        position: absolute;
        content: "";
        bottom: calc(-16px - 2px);
        height: 1px;
        width: 100%;
        background-color: $white;
        opacity: 0.7;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    padding-top: 64px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    aspect-ratio: 3 / 2;

    color: $white;
    background-image: url(/images/aboutBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &--title {
      padding: 16px 0;

      font-size: clamp($text-sm, 3.5vw, 160xp);
    }

    &--content {
      max-width: 75%;
      padding-bottom: 24px;

      font-size: clamp($text-sm, 1.75vw, 80px);
    }
  }

  @media (min-width: $tablet) {
    &__info-list--item {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    &__list {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      justify-items: center;
    }

    &__item:nth-child(3) {
      grid-column: 1 / span 2;
      justify-self: center;
    }
  }

  @media (min-width: $large) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__description {
      text-align: start;
    }

    &__title,
    &__list {
      grid-column: 1 / span 2;
    }

    &__info-list {
      margin-top: 32px;
    }

    &__list {
      grid-template-columns: repeat(3, 1fr);
    }

    &__item:nth-child(3) {
      grid-column: auto;
    }
  }
}
