.tooltip {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;

  &__popup {
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%) scale(0.95);
    transform-origin: bottom center;
    padding: 6px 10px;
    background-color: #333;
    color: white;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 10;
    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease, transform 0.3s ease;

    &::after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -6px;
      border-width: 6px;
      border-style: solid;
      border-color: #333 transparent transparent transparent;
      content: "";
    }

    &.visible {
      opacity: 1;
      transform: translateX(-50%) scale(1);
      pointer-events: auto;
    }
  }

  &__content {
    display: none;

    @media screen and (width >= $tablet) {
      display: block;
    }
  }
}
