.search {
  @include container($paddingY: 0, $marginTop: 0);

  background-color: $secondary;

  &__container {
    width: 65%;
    margin: 0 auto;

    &.rotate {
      animation: rotate 1s ease-in-out;
    }

    @media (min-width: $tablet) {
      width: 50%;
    }

    @media (min-width: $large) {
      width: 33%;
      margin: 0;
    }
  }

  &__title {
    padding-bottom: 24px;

    text-align: center;

    @media (min-width: $tablet) {
      width: 100%;
    }
  }

  &__button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    padding: 16px 0 0;

    gap: 16px;
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $large) {
    justify-content: space-evenly;
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
