.footer {
  @include container();
  background-color: $primary;
  border-radius: $main-border-radius $main-border-radius 0 0;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    max-width: 75%;
  }
}
