.footer {
  @include container();
  background-color: $secondary;
  border-radius: $main-border-radius $main-border-radius 0 0;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    max-width: 75%;
    color: $white;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;

    @media screen and (width >= $tablet) {
      flex-direction: row;
    }
  }
}
