.slider {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  .animal-details__header & {
    @media screen and (width >= $laptop) {
      margin: 0;
    }
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    // height: 300px;
    height: 100%;
    max-height: 550px;
    border-radius: 20px;
    overflow: hidden;
  }

  .slide-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    aspect-ratio: 4 / 3;
  }

  //   img {
  //     max-width: 100%;
  //     height: auto;
  //     min-height: 30dvh;
  //     object-fit: cover;
  //     border-radius: 20px;
  //   }
}
