.contact-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1.5rem;
  margin: 2rem 0;
  border-radius: $main-border-radius;

  background-color: $primary;

  &__item {
    min-width: 185px;

    svg {
      width: 1.25rem;
      height: 1.25rem;
      fill: $secondary;
    }
  }

  &__content {
    display: flex;
    align-items: center;

    gap: 1rem;
  }

  &__link {
    display: flex;
  }
}
