.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  gap: 24px;

  color: $white;

  &__wrapper {
    position: absolute;
    inset: 0;
    z-index: 0;
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.7;
      z-index: 1;
    }
  }

  &__video {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 0;
  }

  &__content {
    position: relative;
    top: 200px;
    left: 30px;

    max-width: 85dvw;

    z-index: 2;
  }

  &__title {
    max-width: 97%;
    background-color: transparent;
  }

  &__description {
    max-width: 75%;
    background-color: transparent;
  }
}
