.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  content: "";

  width: 100vw;
  height: 100vh;

  z-index: 999;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s 0.5s;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";

    width: 100%;
    height: 100%;

    background-color: $primary;
    opacity: 0.7;
  }

  &.modal-open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0s 0s;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 90dvw;
  max-width: 640px;
  padding: 32px;

  background-color: $purple;
  border-radius: $main-border-radius;

  transform: translate(-50%, -50%);
  z-index: 1001;

  &__close {
    padding: 8px 12px;

    background-color: $primary;

    border: 1px solid $primary;
    border-radius: 50%;

    text-align: center;
    aspect-ratio: 1 / 1;
  }

  &__title {
    text-align: center;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 32px;
  }

  &__button {
    margin: 0 auto;
  }
}
