.custom-cursor {
  display: none;

  @media (hover: hover) {
    position: fixed;

    z-index: 9999; /* Убедитесь, что он всегда выше других элементов */

    /* Стили по умолчанию */
    display: flex;
    justify-content: center;
    align-items: center;

    width: clamp(20px, calc(40 / 1920 * 100dvw), 40px); /* Размер курсора */
    height: clamp(20px, calc(40 / 1920 * 100dvw), 40px);

    pointer-events: none; /* Чтобы курсор не блокировал взаимодействие с элементами */

    transition: transform 0.1s ease-out, background-color 0.3s ease-in-out;

    &.clicked {
      transform: translate(-50%, -50%) scale(0.9); /* Легкий эффект уменьшения при клике */
      //background-color: rgba(0, 0, 0, 0.1); /* Если нужно добавить фон при нажатии */
    }
  }
}
