.animal-details {
  position: fixed;

  top: 0;
  left: 0;

  z-index: var(--z-modal);

  display: flex;

  justify-content: center;
  align-items: center;

  width: 100dvw;

  background: $secondary;

  transform: translateX(100%);

  transition: transform 0.3s 0.2s ease-in-out;

  &.open {
    transform: translateX(0);
  }

  &__img {
    width: clamp(200px, 55vw, 450px);
    aspect-ratio: 3 / 4;
    border-radius: $main-border-radius;
  }

  &__content {
    position: relative;

    display: flex;

    flex-direction: column;

    gap: 16px;

    width: 70%;
    height: 100%;

    border: 1px solid $primary;

    border-radius: $main-border-radius;

    background-color: $primary;

    overflow: auto;
  }

  &__header {
    position: sticky;

    top: 0;
    left: 0;

    display: flex;

    justify-content: end;

    padding: 16px 16px 0;

    background-color: inherit;
  }

  &__close {
    padding: 8px 12px;
    background-color: $secondary;
    color: $white;
    border-radius: $main-border-radius;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &__img-container {
    display: flex;
    width: 100%;
    padding: 0 16px;
    gap: 16px;

    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;

    @media (min-width: $large) {
      scrollbar-width: auto;
    }
  }

  &__characteristic {
    display: flex;
    gap: 16px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px 16px 0;
    margin-bottom: 16px;
    width: 100%;
  }

  &__action {
    width: 100%;
  }
}
