.contact-form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px;
  margin: 32px 0;
  border-radius: $main-border-radius;

  background-color: $secondary;

  &__item {
    min-width: 185px;

    svg {
      width: 30px;
      height: 100%;
      fill: $white;
    }
  }

  &__name {
    color: black;
  }

  &__content {
    display: flex;
    align-items: center;

    gap: 16px;
  }

  &__link {
    display: flex;
    gap: 8px;
    font-size: clamp($text-sm, 3vw, $text-2xl);
    color: $white;
  }
}
