.contact-page {
  @include container();
  overflow: hidden;

  &__adres,
  &__social {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__adres {
    margin-bottom: 24px;
  }

  &__social {
    padding: 1rem;
    background-color: $secondary;
    border-radius: $main-border-radius;

    &.is-loading {
      min-height: 100px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    background-color: $secondary;
    border-radius: $main-border-radius;
  }

  &__contact {
    @media (min-width: $tablet) {
      display: flex;
      align-items: flex-start;

      margin-top: 24px;
      gap: 48px;
    }
  }
}
