.contact-page {
  @include container();
  overflow: hidden;

  &__adres,
  &__social {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__adres {
    margin-bottom: 1.5rem;
  }

  svg {
    fill: $primary;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    background-color: $primary;
    border-radius: $main-border-radius;
  }

  &__contact {
    @media (min-width: $tablet) {
      display: flex;
      align-items: flex-start;

      margin-top: 1.5rem;
      gap: 3rem;
    }
  }
}
