.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 $list-padding-x;
  gap: 40px;

  @media (width >= $large) {
    width: auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $list-item-padding;

    font-size: clamp($text-sm, 1.25vw, $text-2xl);
    color: $white;

    @media (width >= $large) {
      flex-direction: row;
      margin-left: 8px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__item-svg {
    @media (width >= $large) {
      width: clamp($text-sm, 5vw, 32px);
    }

    p {
      @media (width >= $large) {
        display: none;
      }
    }

    svg {
      display: none;
      width: 100%;
      height: 100%;

      @media (width >= $large) {
        display: block;
      }
    }
  }

  &__link {
    color: $white;
  }

  &__social {
    display: flex;
    gap: 24px;
    fill: $primary;

    @media (min-width: $large) {
      gap: 8px;
    }
  }

  &__social-item {
    width: clamp($text-sm, 5vw, 32px);
    // height: clamp($text-sm, 2vw, $text-2xl);

    svg {
      display: flex;
      width: 100%;
      height: 100%;

      fill: $white;
    }
  }

  @media (min-width: $large) {
    flex-direction: row;
    gap: 16px;
    padding: 0;
  }
}
