.help-page {
  @include container();
  padding-bottom: 0;

  overflow: hidden;

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 1.5rem;
  }

  &__detailed {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 1.5rem;

    @media (min-width: $tablet) {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      .detailed__item {
        max-width: 48%;
      }
    }
  }
}
