.help {
  background-color: $primary;
  border-radius: $main-border-radius;
  overflow: hidden;

  &__content {
    @include container($marginBottom: 2rem);

    display: grid;
    gap: 2rem;

    button {
      width: 100%;
    }
  }

  &-list {
    display: grid;
    gap: 1rem;

    &__item {
      display: flex;
      align-items: center;
    }

    &__icon {
      width: clamp(1rem, 4vw, 4rem);
      height: clamp(1rem, 4vw, 4rem);
    }

    &__description {
      padding-left: 2rem;
    }
  }

  a {
    @media (min-width: $tablet) {
      display: flex;
      justify-content: center;
    }
  }
}
