.help {
  background-color: $primary;
  border-radius: $main-border-radius;
  overflow: hidden;

  &__content {
    @include container($marginBottom: 32px);

    display: grid;
    gap: 32px;
  }

  &-list {
    display: grid;
    gap: 16px;

    &__item {
      display: flex;
      align-items: center;
    }

    &__icon {
      width: clamp($text-md, 4vw, $text-2xl);
      height: clamp($text-md, 4vw, $text-2xl);
    }

    &__description {
      padding-left: 32px;
    }
  }

  a {
    @media (min-width: $tablet) {
      display: flex;
      justify-content: center;
    }
  }
}
