* {
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;

  @media (hover: hover) {
    cursor: none;
  }
}

span {
  font-size: clamp(1rem, 2vw, 2rem);
}

button {
  font-size: clamp(0.75rem, 2vw, 1.5rem);
}

body {
  font-family: var(--font-first);
  font-weight: normal;
  font-size: clamp(1.5rem, 2vw, 3.5rem);
  line-height: 1.6;

  color: $white;

  background-color: $secondary;

  overflow-x: hidden;

  transition-property: opacity, background-color, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

body.modal-open {
  overflow: hidden;
}

.main {
  width: 100%;
}

.hidden {
  position: absolute;
  visibility: hidden;
  margin: 0;
  max-height: 0;
  max-width: 0;
  font-size: 0;
}

.title {
  padding-bottom: 2rem;
}

.page-transition {
  opacity: 0;

  // background-color: $yellow-100;

  transform: translateY(40px);

  filter: blur(100px);
}
