* {
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: none;
}

span {
  font-size: clamp(1rem, 2vw, 2rem);
}

button {
  font-size: clamp(0.75rem, 2vw, 1.5rem);
}

body {
  font-family: var(--font-first);
  font-weight: normal;
  font-size: clamp(1.5rem, 2vw, 3.5rem);
  line-height: 1.6;
  color: $white;
  background-color: $secondary;
}

body.modal-open {
  overflow: hidden;
}

main {
  margin-top: 10dvh;
}

.hidden {
  position: absolute;
  visibility: hidden;
}
