.h1 {
  font-family: var(--font-second);
  font-weight: normal;
}

.h2 {
  font-family: var(--font-second);
  font-weight: normal;
  font-size: clamp(32px, 3vw, 48px);

  .modal & {
    font-size: clamp(26px, 3vw, 48px);
  }
}

.h3 {
  font-family: var(--font-second);
  font-weight: normal;
  font-size: clamp(28px, 2.5vw, 40px);
}

.p {
  font-family: var(--font-second);
  font-weight: normal;
  font-size: clamp(20px, 2vw, 30px);
}

.span {
  font-family: var(--font-second);
  font-weight: normal;
  font-size: clamp(16px, 1.5vw, 24px);
}
