:root {
  // Modal z-index
  --z-modal-backdrop: 1000;
  --z-modal: 2000;
}

//screens
$tablet: 767px;
$large: 1024px;
$laptop: 1200px;

//colors
$purple: #a48d6e;
$white: #faf3e0;
$yellow-100: #faf3e0;
$primary: #79583a;
$secondary: #87c7b2;

//padding
$list-item-padding: 8px;
$list-padding-x: 64px;

//border-radius
$main-border-radius: 20px;

//text
$text-sm: 12px;
$text-md: 14px;
$text-lg: 16px;
$text-2xl: 20px;
