// .map {
//   width: 100%;
//   aspect-ratio: 1 / 1;
//   border-radius: $main-border-radius;
//   overflow: hidden;

//   iframe {
//     width: 100%;
//     height: 100%;
//     border: none;
//     border-radius: $main-border-radius;
//   }

//   @media (min-width: $large) {
//     width: 75%;
//     aspect-ratio: 3 / 2;
//   }
// }

.leaflet-container {
  width: 100%;
  height: 100dvh;
  max-height: 600px;
  position: relative;
  outline: none;
}

// .leaflet-tile,
// .leaflet-marker-icon,
// .leaflet-marker-shadow,
// .leaflet-pane > svg,
// .leaflet-pane > canvas,
// .leaflet-zoom-animated {
//   position: absolute;
//   top: 0;
//   left: 0;
// }

// .leaflet-marker-icon,
// .leaflet-marker-shadow {
//   display: block;
// }

// /* Кнопка слоев */
// .leaflet-control-layers-toggle {
//   background-image: url("/leaflet/layers.png");
//   width: 36px;
//   height: 36px;
// }

// .leaflet-retina .leaflet-control-layers-toggle {
//   background-image: url("/leaflet/layers-2x.png");
//   background-size: 26px 26px;
// }

// /* Маркеры */
// .leaflet-default-icon-path {
//   background-image: url("/leaflet/marker-icon.png");
// }

// .leaflet-marker-icon {
//   background-image: url("/leaflet/marker-icon.png");
// }

// .leaflet-marker-shadow {
//   background-image: url("/leaflet/marker-shadow.png");
// }

// .map__wrapper {
//   overflow: hidden;
//   border: 1px solid transparent;
//   border-radius: 50px;
// }
