.leaflet-container {
  position: relative;
  width: 100%;
  height: 100dvh;
  max-height: 600px;
  outline: none;

  border-radius: $main-border-radius;
}

.map__link {
  display: flex;
  justify-content: center;
  padding: 8px;
  background-color: $secondary;
  border-radius: $main-border-radius;
}
