// .animals__title {
//   padding: 0 2rem;
// }

.animals-list {
  @include container();
  display: flex;
  gap: 2rem;

  overflow-x: scroll;
  scroll-behavior: smooth;

  img {
    height: 35vh;
  }

  @media (min-width: $large) {
    justify-content: center;
    scrollbar-width: none;
  }
}

.animal__choice:nth-child(2) {
  display: none;
}

.animals__more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 4rem;

  &:last-of-type {
    padding: 2rem 0;
  }
}
