.about-page {
  @include container();

  overflow: hidden;

  &__text {
    padding: calc($list-item-padding * 2) 0;

    @media (min-width: $large) {
      width: 50%;
    }
  }

  &__item {
    &:not(:last-of-type) {
      padding-bottom: 32px;
    }

    @media (min-width: $large) {
      display: flex;
      gap: 32px;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
  }
}
