.img-and-text {
  display: grid;
  gap: 8px;
  padding: 8px 0;

  @media (width >= $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__img {
    position: relative;
    aspect-ratio: 4 / 3;

    &.left {
      order: -1;
    }

    & img {
      object-fit: cover;
      border-radius: $main-border-radius;
    }
  }
}
