.animals-category {
  @include container();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  &__title {
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 16px;
    }
  }

  &__more {
    width: 35dvw;
    max-width: 350px;
    padding: 12px 16px;

    font-size: clamp(0.8rem, 3vw, 5rem);

    border-radius: $main-border-radius;
    color: $white;
    background-color: $primary;

    cursor: pointer;
  }
}
