.not-found-page {
  @include container($paddingY: 0);
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 2fr;
  height: 80dvh;
  overflow: hidden;
  // gap: 32px;

  @media (min-width: $tablet) {
    padding-top: 50px;
    align-items: start;
  }

  @media (min-width: $large) {
    align-items: center;
    padding-top: 0;
    align-items: center;
  }

  &__title {
    white-space: nowrap;
  }

  &__aside {
    position: relative;
    z-index: 2;
  }

  &__content {
    padding-bottom: 32px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: $tablet) {
      flex-direction: row;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 80vh;

    & img {
      overflow: visible;
      object-fit: cover;
      min-width: 20dvw;
    }
  }
}
