.toggle {
  &__select {
    padding: 0.5rem 1rem;

    border-radius: $main-border-radius;

    color: $primary;

    text-transform: uppercase;

    appearance: none;

    font-size: $text-sm;

    @media (min-width: $tablet) {
      font-size: $text-md;
    }

    @media (min-width: $large) {
      font-size: $text-lg;
    }
  }
}
