.accordion {
  margin: 0 auto;
  max-width: 480px;

  // background-color: $secondary;
  border-radius: $main-border-radius;

  &__item {
    min-width: 200px;
    margin-bottom: 16px;
    background-color: $white;
    border-radius: $main-border-radius;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (min-width: $tablet) {
      min-width: 300px;
    }

    @media (min-width: $large) {
      min-width: 400px;
    }
  }

  &__header {
    position: relative;
    width: 100%;
    padding: 16px 48px 16px 32px;
    color: $white;
    background-color: $secondary;
    border: 0;
    border-radius: $main-border-radius;
    font-size: clamp($text-md, 2vw, 64px);
    text-align: center;
    cursor: pointer;

    svg {
      width: clamp(24px, 4vw, 56px);
      height: 100%;
    }
  }

  &__collapse {
    height: 0px;
    overflow: hidden;
    transition: height 0.3s;
  }

  &__collapse.open {
    height: auto;
  }

  &__body {
    padding: 32px 16px;
    background-color: $white;
    border-bottom-left-radius: $main-border-radius;
    border-bottom-right-radius: $main-border-radius;
    font-size: clamp($text-md, 1.75vw, 46px);
    color: black;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    width: 30px;
    fill: $white;
    transform: translateY(-50%);
  }

  &__arrow.active {
    transform: translateY(-50%) rotate(180deg);
  }

  // .rules & {
  //   // background-color: $primary;
  // }

  .rules &__header {
    background-color: $secondary;
  }
}
