.animal {
  background-color: $secondary;

  border-radius: 32px;

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: inherit;
  }

  &__info {
    width: 100%;

    @media (min-width: $large) {
      .search & {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__picture {
    width: 100%;
  }

  img {
    width: 100%;
    max-height: 300px;
    aspect-ratio: 2 / 3;

    border-radius: 32px 32px 16px 16px;

    object-fit: cover;
  }

  &__description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    height: fit-content;

    padding: 8px 0;

    color: $white;
  }

  &__name {
    width: 100%;
    padding-bottom: 4px;

    text-align: center;
  }

  &__gender,
  &__age {
    width: 100%;
    text-align: center;

    .all-animals__item & {
      display: none;
    }
  }

  // .animals-category__content & {
  //   width: 35dvw;
  // }

  &__characteristics {
    display: none;
    gap: 16px;

    svg {
      width: 32px;
      // height: 32px;
    }

    @media (min-width: $large) {
      .search & {
        display: flex;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding-bottom: 16px;

    .animals-category__content & {
      display: none;
    }
  }

  &__choice {
    padding: 16px 24px;
    border-radius: 16px;
    border: 1px solid $white;

    color: $white;
    background-color: transparent;
  }

  @media (min-width: $large) {
    gap: 32px;
  }

  .animals & {
    width: clamp(200px, 28vw, 450px);
  }
}
