.donate {
  @include container($marginTop: 160px, $marginBottom: 64px);
  position: relative;
  background-color: $secondary;

  border-radius: $main-border-radius;

  &::before {
    position: absolute;
    content: "";
    bottom: calc(100% - 52px);
    left: 0;

    width: 100%;
    height: 44%;

    background-image: url("/images/donateAnimals.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 5;

    @media (min-width: $tablet) {
      bottom: calc(100% - 36px);
    }
  }

  &__title {
    text-align: center;
    color: $white;
  }

  &__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding: 32px 0;
  }

  &__item {
    position: relative;
    width: 100%;
    padding-bottom: 32px;

    &:nth-child(even) {
      .donate__link::before {
        display: none;
      }
    }
  }

  &__link {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    color: $white;

    &::before {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 0;
      height: 150px;
      width: 1px;
      content: "";
      background-color: $white;
    }
  }

  &__img-container {
    display: flex;

    width: 80px;
  }

  &__img {
    width: 100%;
  }
}
