.header {
  @include container();
  position: sticky;

  top: 0;
  left: 0;

  z-index: 2000;

  display: flex;

  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: auto;

  background-color: $secondary;
}
