.figure-container {
  max-height: fit-content;
  background-color: $secondary;

  border-radius: $main-border-radius;

  &__img {
    width: 100%;
    height: 100%;
    max-height: 350px;

    aspect-ratio: 3 / 2;

    object-fit: cover;
    object-position: center;
    overflow: hidden;

    border-radius: $main-border-radius $main-border-radius 0 0;
  }

  &__figcaption {
    padding: 8px 0;
    text-align: center;
    color: $white;

    @media (min-width: $large) {
      padding: 24px 0;
      text-align: center;
    }
  }

  @media (min-width: $large) {
    display: grid;
    grid-template-rows: auto 1fr;

    width: 100%;
    max-width: 50%;
    aspect-ratio: 16 / 9;

    overflow: hidden;
  }
}
