.figure-container {
  display: flex;
  flex-direction: column;

  max-height: fit-content;
  background-color: $secondary;
  border-radius: $main-border-radius;
  overflow: hidden;

  &__img-wrapper {
    position: relative;
    width: 100%;

    aspect-ratio: 3 / 2;

    max-height: 300px;

    @media (min-width: $large) {
      aspect-ratio: 16 / 9;
      max-height: 350px;
    }
  }

  &__img {
    object-fit: cover;
    object-position: center;
  }

  &__figcaption {
    padding: 8px 0;
    text-align: center;
    color: $white;

    @media (min-width: $large) {
      padding: 24px 0;
    }
  }

  @media (min-width: $large) {
    display: grid;
    grid-template-rows: auto 1fr;

    width: 100%;
    max-width: 50%;
  }
}
